In [5]:
# Takodjer stari video - spominje Atom
# jpynb su za data explorations, analisis, visualisations ali moze i WebScraping
# Dao primjer ucitavanja ali sljede poglavlja posvecena svakom file-tipu posebno

import pandas
import os
os.listdir()

['supermarkets.json',
 'supermarkets-semi-colons.txt',
 '090_pandas_DataAnalysisLibrary.ipynb',
 '092_GettingStartedWithPandas.ipynb',
 'supermarkets-commas.txt',
 '.ipynb_checkpoints',
 '094_GettingStartedWithJupyter.ipynb',
 '095 supermarkets',
 'supermarkets-commas.csv',
 '091_InstallingPandas.ipynb',
 'supermarkets.xlsx',
 '093_InstallingJupyter.ipynb',
 '095_LoadingCSVFiles.ipynb',
 'supermarkets.csv']

In [6]:
df1=pandas.read_csv('supermarkets.csv')
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20