In [3]:
import pandas
import os
os.listdir()

['supermarkets.json',
 '100_LoadingDataFromPlainTextFiles.ipynb',
 'supermarkets-semi-colons.txt',
 '090_pandas_DataAnalysisLibrary.ipynb',
 '092_GettingStartedWithPandas.ipynb',
 'supermarkets-commas.txt',
 '.ipynb_checkpoints',
 '102_SetColumnNames.ipynb',
 '094_GettingStartedWithJupyter.ipynb',
 '096_Ex_LoadingJSONFiles.ipynb',
 '095 supermarkets',
 'supermarkets-commas.csv',
 'supermarkets2.csv',
 '098_NoteOnLoadingExcelFiles.ipynb',
 '091_InstallingPandas.ipynb',
 'supermarkets.xlsx',
 '099_LoadingExcelFiles.ipynb',
 '093_InstallingJupyter.ipynb',
 '101_SetTableHeaderRow.ipynb',
 '104_FilteringDataFromPandasDataframe.ipynb',
 '103_SetIndexColumn.ipynb',
 '095_LoadingCSVFiles.ipynb',
 '097_Solution_LoadingJSONFiles.ipynb',
 'supermarkets.csv']

In [4]:
df1=pandas.read_csv('supermarkets.csv')
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [ ]:
df2 = df1.set_index("ID")
df2

In [ ]:
df2.loc[2:4,"City":"Name"]  #Sve inklusive

In [ ]:
df2.loc[2,"City"]  #Jedna celija

In [ ]:
df2.loc[:,"City"]  #Sve inklusive i za cijelu kolonu

In [ ]:
list(df2.loc[:,"City"])  #Sve inklusive i za cijelu kolonu kao lista

In [12]:
df2.iloc[2:4,3:5]  #Po indeksima tj brojevima kolona i redova, zadnji broj nije inklusive!!!

   Country         Name
ID
3      USA  Super River
4      USA   Ben's Shop