In [ ]:
# 4'52''
# making a basic bokeh line graph
from bokeh.plotting import figure
from bokeh.io import output_file, show

# prepare some data iste duljine inace err
x=[1,2,3,4,5]
y=[6,7,8,9,10]

# prepare output file
output_file("Line.html")

# create figure object
f=figure()

# create Line plot
f.line(x,y)

# sa show() metod plotati
show(f)         # i otvorio se def.browser i nacrtao isto sto je i Ard dobio u svom! radeci u jupiteru! Uz ostale alate imamo i Save koji snima graf u .png formatu. Nudi izbormjesta lokacije! Gledjuci mjesto lokacije vidim i da je dani kod generirao Line.html

In [1]:
# 4'52''
# importing bokehand pandas
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas

# prepare some data iste duljine inace err
df=pandas.read_csv("data.csv")
x=df["x"]
y=df["y"]

# prepare output file
output_file("Line_from_csv.html")

# create figure object
f=figure()

# create Line plot
f.line(x,y)

# sa show() metod plotati
show(f)         # i otvorio se def.browser i nacrtao isto sto je i Ard dobio u svom! radeci u jupiteru! Uz ostale alate imamo i Save koji snima graf u .png formatu. Nudi izbormjesta lokacije! Gledjuci mjesto lokacije vidim i da je dani kod generirao Line.html

In [2]:
df

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [3]:
df["x"]

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64

In [4]:
df["y"]

0     6
1     7
2     8
3     9
4    10
Name: y, dtype: int64

In [5]:
type(df["y"])       # pandas.core.series.Series

pandas.core.series.Series